---
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero';
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Technologies from '../components/Technologies.astro';
---

<Layout>
  <Nav />
  <main
    class='ml-64 scroll-smooth w-full pt-12 px-24 mx-auto flex flex-col items-center gap-y-12'
  >
    <Hero client:only='react' />
    <About />
    <Technologies />
    <!-- <Projects />
    <Contact />  -->
  </main>
</Layout>
