---
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero';
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Technologies from '../components/Technologies';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Nav />
  <main
    class='scroll-smooth w-full pt-12 px-12 mx-auto flex flex-col items-center gap-y-12'
  >
    <Hero client:load />
    <About />
    <Technologies client:only />
    <Contact />
  </main>
</Layout>
