---
import fastapi from '../../public/svg/fastapi.svg';
import angular from '../../public/svg/angular.svg';
import mysql from '../../public/svg/mysql.svg';
import springboot from '../../public/svg/springboot.svg';
import nestjs from '../../public/svg/nestjs.svg';
import postgresql from '../../public/svg/postgresql.svg';
import ProjectCard from '@/components/Project-Card.astro';

interface tecnologies {
  title: string;
  image: ImageMetadata;
}

export interface Project {
  title: string;
  imagesFolder: string;
  images: string[];
  linkFront?: string;
  linkBack?: string;
  link?: string;
  preview?: string;
  description: string;
  tecnologies: tecnologies[];
  isInDevelopment?: boolean;
}

const projects: Project[] = [
  {
    title: 'Todo App',
    imagesFolder: 'todo',
    images: ['todo1.png', 'todo2.png', 'todo3.png', 'todo4.png', 'todo5.png'],
    linkFront: 'https://github.com/Zensi77/notion-basic-frontend',
    linkBack: 'https://github.com/Zensi77/notion-clone-backend',
    preview: 'https://notion-basic-frontend.onrender.com/',
    description: `Aplicaci贸n basica de gesti贸n de tareas con autenticacion, registro y CRUD de tareas, realizada con Angular y Fast Api. \n
    Caracter铆sticas:
    - Registro y autenticaci贸n de usuarios mediante JWT.
    - Interfaz de usuario intuitiva y responsiva haciendo uso de Angular Material y TailwindCSS.
    - Formularios din谩micos y seguros validados con Angular Reactive Forms y Async Validators.
    - Implementaci贸n de rutas protegidas e implementacion Lazy Loading para mejorar el rendimiento.
    - Modificacion del estado de las tareas mediante CDK de drag and drop.
`,
    tecnologies: [
      {
        title: 'Angular',
        image: angular,
      },
      {
        title: 'FastAPI',
        image: fastapi,
      },
      {
        title: 'MySQL',
        image: mysql,
      },
    ],
  },
  {
    title: 'Tecno Shop',
    imagesFolder: 'e-shop',
    images: [
      'shop-1.png',
      'shop-2.png',
      'shop-3.png',
      'shop-4.png',
      'shop-5.png',
      'shop-6.png',
      'shop-7.png',
      'shop-8.png',
    ],
    linkFront: 'https://github.com/Zensi77/ecomerce-frontend',
    linkBack: 'https://github.com/Zensi77/ecomerce-backend',
    preview: 'https://ecomerce-frontend-sgxu.onrender.com',
    description: `E-commerce de productos de tecnolog铆a realizado con Angular y Spring Boot. \n
    Caracter铆sticas:
    - Arquitectura hexagonal con patrones de dise帽o como Repository, Service y Controller.
    - Implementacion de mappers para la conversi贸n de datos entre domain, entity y DTO.
    - Uso de Lombok para reducir el boilerplate en las clases de modelo y DTO.
    - Implementacion de cache distribuida con infinispan, haciendo uso de protostream para la serializaci贸n de objetos.
    - Implementacion de cola de mensajes con ArtemisMQ para la gesti贸n de eventos y notificaciones.
    - Implementacion de un consumidor de la cola de mensajes, mandando los eventos a Elasticsearch y creando los index patterns necesarios.
    - Realizacion de graficos con Kibana para la visualizaci贸n de los datos.
    - Los datos usados son obtenidos mediante web scraping, de la web de Coolmod y PcBox, usando la libreria de Selenium (Python)
    - La informacion de los productos se envia a Ollama(llama3.2) para la generacion de descripciones de los productos.
    - Interfaz de usuario intuitiva y responsiva haciendo uso de PrimeNG y TailwindCSS.
    - Spring Security para la gesti贸n de la seguridad y autenticaci贸n con JWT.
    - Uso de JPA e Hibernate para la persistencia de datos.
    - Uso de Swagger para la documentaci贸n de la API.
  `,
    tecnologies: [
      {
        title: 'Angular',
        image: angular,
      },
      {
        title: 'Spring Boot',
        image: springboot,
      },
      {
        title: 'MySQL',
        image: mysql,
      },
    ],
  },
  {
    title: 'Dev Match',
    imagesFolder: 'dev-match',
    images: ['logo.png'],
    description: `DevMatch es una plataforma de colaboraci贸n dise帽ada para conectar desarrolladores con proyectos de c贸digo abierto y mentores t茅cnicos, creando un entorno propicio para el aprendizaje pr谩ctico, la mejora continua de habilidades y la visibilidad profesional.
    La finalidad es empoderar a los desarrolladores especialmente juniors para que puedan aportar en proyectos reales, ampliar su red de contactos y construir un portfolio profesional validado por la comunidad.
    
    З Funcionalidades clave:
    - Seguridad robusta mediante JWT con refresh tokens autom谩ticos en segundo plano, revocaci贸n activa, sistema de roles, protecci贸n CSRF y XSS, y limitaci贸n de peticiones (Rate Limiting).
    - Gesti贸n avanzada de usuarios, perfiles, habilidades, experiencia y vinculaci贸n a proyectos colaborativos.
    - Integraci贸n de IA generativa (Ollama con Llama3.2) para sugerencias personalizadas de proyectos, colaboradores o mentores.
    - Roadmap de desarrollo gamificado con sistema de reputaci贸n y validaci贸n entre pares.
    - Soporte a hackatones virtuales y colaboraciones patrocinadas por empresas/recruiters.
    - Implementaci贸n de un sistema de notificaciones y chats privados en tiempo real mediante WebSockets.

     И Stack tecnol贸gico:
    - Frontend: Angular 19, TailwindCSS, Angular Material, GSAP (para microinteracciones), Angular Universal (SSR) y SSG para generaci贸n est谩tica de vistas.
    - Gestor de estado: NgRx Store, Data y Effects, con enfoque escalable tipo Redux.
    - Backend: NestJS, PostgreSQL (v铆a TypeORM), MongoDB (v铆a Mongoose), Redis (para cach茅, sesiones y pub/sub), RabbitMQ (para colas y procesamiento as铆ncrono), CRON Jobs, Winston como logger estructurado.
    - Tecnologias de monitorizacion: Grafana, Prometheus, Loki,
    - Infraestructura preparada para contenerizaci贸n (Docker), despliegue continuo (CI/CD), y despliegue en Kubernetes (escenario futuro).
    - Todo el desarrollo de la aplicaci贸n se realiza siguiendo buenas practicas de desarrollo para asegurar el mantenimiento y escalabilidad del proyecto (Estructura de carpetas separadas por responsabilidades, linter...)
    `,
    isInDevelopment: true,
    tecnologies: [
      {
        title: 'Angular',
        image: angular,
      },
      {
        title: 'NestJS',
        image: nestjs,
      },
      {
        title: 'PostgreSQL',
        image: postgresql,
      },
    ],
  },
];
---

<section
  id='projects'
  class='text-[var(--white)] w-full border-t border-[#ffffff10] py-28'
  data-aos='fade-up'
  data-aos-easing='ease-in-out'
>
  <div
    class='max-w-5xl mx-auto'
    id='root'
  >
    <h2 class='text-lg text-[var(--sec)] mb-2 shiny-sec'>Mi trabajo</h2>
    <h3 class='text-4xl md:text-5xl font-medium mb-8'>Proyectos</h3>

    <div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
      {projects.map((project: Project) => <ProjectCard project={project} />)}
    </div>

    <a
      target='_blank'
      href='https://github.com/zensi77?tab=repositories'
      aria-label='GitHub'
      class='w-full flex items-center justify-center gap-2 mt-9 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-[var(--white-icon-tr)] p-3 rounded-full bg-[#1414149c] hover:bg-[var(--white-icon-tr)] hover:scale-105'
    >
      <span class='md:text-lg text-md'>Mas proyectos en</span>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='currentColor'
        class='size-6'
      >
        <path
          d='M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z'
        ></path>
      </svg>
    </a>
  </div>
</section>
